.collapsible {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  user-select: none;
}

.label {
  font-size: 0.75rem;
  opacity: 0.7;
}
