.separator {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0;
  opacity: .4;
  transition: opacity 0.15s ease;

  margin: 8px 0;

  &:hover {
    opacity: 1;
  }
}

.line {
  flex: 1;
}

.btn {
  flex-shrink: 0;
}
